div.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.form-container form{
    padding: 20px;
    background-color: var(--secondary-bg);
    width: 500px;
    border-radius: 2px;
    color: var(--text-dark);
}

.form-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

form .input-wrapper{
    margin-bottom: 6px;
}

form input  , form select , form textarea{
    width: 100%;
    outline: none;
    margin-top: 5px;
    background-color: var(--input-bg);
}

form textarea{
    height: 85px;
    resize: none;
}

form input:hover{
    background-color: var(--nav-hover);
}

form select{
    margin-bottom: 10px;
}

div.form-container form button {
    padding: 19px !important ;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

div.alternative-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

