div.form-container{
    margin: 40px;
    height: 100vh;
    z-index: 0;
}

div.form-container  table{
    background-color:var(--secondary-bg);
    width: 100%;
    border-collapse: collapse;
}

div.form-container  table , div.form-container  table tr td ,div.form-container  table tr th{
    border: 1px solid var(--dark-border);   
    padding: 10px;
}

div.form-container  table th{
    background-color: var(--dark-border);
}

table tr td{
    text-align: center;
}

table tr td button{
    cursor: pointer;
}

table td.action-section{
    display: flex;
    justify-content:center;
    align-items: center;
}
